:root{
    --widgetSize:45px;
    --widgetImgSize:18px;
    --addSize:20px;
    --closeSize:17px;
}


.widget-container{
    position:fixed;
    padding: 20px 0 0 0px;
    right: 25px;
    bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 95vh;
    max-width: 90vw !important;
    transition-duration: 0.1s;
    transition-delay: 0.05s;
}

.widget-comparison{

    height: calc(100% - 65px);
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    min-width: 250px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden;


}

.widget-comparison-header{

    height: 10%;
    max-height: 50px;
    width: 100%;
    padding: 0 30px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width:  0 0 2px 0 ;
    border-color: #EEF2F6;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
   
}

.widget-comparison-header .return{

  margin-right: 30px;
  

}

.widget-comparison-right{

    display: flex;
  }

.MuiButtonBase-root{
    color: black !important;
}

.language{
    display: flex;
}

.language img{
    margin-left: 0px;
}

.return ,.minimize{
    cursor:pointer;
    
}

.minimize{
    margin-left: 55px;
}

.widget-btn-container{
    width: 55px;
    height:  55px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-top: auto;
    
    
 
}
.widget-btn{
    width:  var(--widgetSize);
    height:  var(--widgetSize);
    border-radius: 50px;
    background-color: #03A9F4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   /* position:fixed;
    bottom: 20px;
    right: 20px;*/
    transition-duration: 0.2s;
    transition-delay: 0.1s;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
   

}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-btn:hover{
   --widgetSize:50px;
   --widgetImgSize:22px;
   width:  var(--widgetSize);
   height:  var(--widgetSize);
   
}

.widget-btn img{
    transition-duration: 0.2s;
    transition-delay: 0.1s;
    width:var(--widgetImgSize);

}



.no-products{

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-products{

    color: #91A8BF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: #00000000;
   align-self: center;
    height: 170px;
}
.add-products span{

    
    width: 100px;
    
}

.add-btn{
    background-color: #04A7F1;
    width: 51px;
    height: 51px;
    border-radius: 50px;
    border-width: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.1s;
    transition-delay: 0.05s;


}

.add-btn:hover{
    --addSize: 17px;
    width: 48px;
    height: 48px;
   
}

.add-btn img{
    width: var(--addSize);
    transition-duration: 0.1s;
    transition-delay: 0.05s;
}

.add-btn-container{
    height: 51px;
    width: 51px;
    min-height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}




.close-btn{
    background-color: #242B2E;
    width: 51px;
    height: 51px;
    border-radius: 50px;
    border-width: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.1s;
    transition-delay: 0.05s;


}

.close-btn:hover{
    --closeSize: 15px;
    width: 48px;
    height: 48px;
   
}

.close-btn img{
    width: var(--closeSize);
    transition-duration: 0.1s;
    transition-delay: 0.05s;
}

.btn-option{
    height: calc(100% - 68px);
    display: flex;
    width: 240px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    margin-top: auto;
    transition-duration: 0.1s;
    
    transform: rotateX(0deg);

}

.disabled{
    transform:translateY(-100%) rotateX(90deg) ;
    transition-duration: 0.1s;
    
}

.search,.recent{
    width: 50%;
    height: 100%;
    border-width: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-delay: 0.02s;
    
    
}


.search:hover,.recent:hover{
   
  background-color: #EEF2F6;
    
}

.search{
    border-radius: 10px 0 0 10px;
}

.recent{   
    border-radius: 0 10px 10px 0;
}

.search span,.recent span{
    margin-top: 10px;
}

.search-main{
    width: 100%;
    height: 90%;
    
   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}
.search-main form{
    margin-top: 25px;
    margin-left: 50px;
    width: calc(100% - 200px);
    height: fit-content;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #91A8BF;
    display: flex;
    padding: 0 20px;
    box-sizing: content-box;
}

.search-main form input{
    height: 45px;
    width: 90%;
    border-width: 0;
    color: #91A8BF;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-left: 10px;
    outline: none;
    
}

.search-container{
    height: 100%;
    width: 100%;
   overflow-y: scroll;
   padding: 10px;
   box-sizing: border-box;
   

}

.search-container .product{
    height: 100px;
    border-width: 0 0 1px 0;
   border-style: solid;
   border-color:  #91a8bf9b;
   display: flex;
   align-items: center;
   padding: 20px;

}

.search-container .product img{
    margin-right: 20px;

}

.search-container .product .add-to-compare{
    margin-right: 20px;
    margin-left: auto;
    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-width: 0;
    background-color: #04A7F1;
    cursor: pointer;
    padding: 0;
    
    

}

.search-container .product .add-to-compare:hover{
  
    background-color: #0ba2e8cb;
       

}

.search-container .product .add-to-compare img{
    margin: 0;
    

}
.off{
    display: none;
}

.search-container .product .details{
    display: flex;
    flex-direction: column;

}

.search-container .product .details span{
    width: fit-content;

}

.search-container::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }

.search-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: darkgrey;
    border-radius: 20px;
  }

.search-container::-webkit-scrollbar{
    
    width: 4px !important;
   
    
}

.empty{
    display: none;
}




@media screen and (max-width:1000px) {
        .widget-container{
           
            width: 95%;
          
        }
        .add-products{
            height: 150px;
        }
        .add-products .btn-option{
            width: 150px;
            height: calc(100% - 67px);
        }
        .add-products .btn-option .search span ,.add-products .btn-option .recent span{

            font-size: 12px;
        }
        .add-products .btn-option .search img ,.add-products .btn-option .recent img{
            
            width:21px;
            height: 21px;
        }
        }



        @media screen and (max-width:600px) {
        .search-main form{
            width: 90%;
            box-sizing: border-box;
            margin: 20px 10px;
        }}